<div style="font-family: Helvetica,Arial,sans-serif; min-width: 1000px; overflow:auto; padding: 20px 0;">
    <section class="begin" style="text-align: center; margin-bottom: 40px;">
        <img src="https://api.tavlorify.se/assets/images/logo/logo.jpg" alt="Tavlorify Logo" style="width: 250px; margin-top: 30px;">
    </section>
    <section class="content"
            style="width: 80%; margin: auto; padding: 20px; line-height: 2;"
    >
        <h1 style="text-align: center;">Tack för ditt köp!</h1>
        <p style="text-align: center;">Tack för att du valde Tavlorify för att skapa unika konstverk med hjälp av AI.</p>
        <p style="text-align: center;">Din beställning är nu under behandling! Vi arbetar på att skapa din personliga tavla och skickar ett mejl med spårningslänk så snart din beställning har skickats.</p>
        <h4>Din orderbekräftelse</h4>
        <div class="preliminary-information" style="text-align: center;">
            <h5 style="width: 49%; display: inline-block;">Ordernummer: <%= orderNumber %></h5>
            <h5 style="width: 50%; display: inline-block;">Datum: <%= created_at %></h5>
        </div>
        <hr />
        <div class="products-info">
            <h4 style="text-align: center;">Produkter</h4>
            <table style="text-align: center; width: 100%;">
                <thead>
                    <th style="padding: 10px 0;">Produktbild</th>
                    <th style="padding: 10px 0;">Produktnamn</th>
                    <th style="padding: 10px 0;">antal</th>
                    <th style="padding: 10px 0;">Pris</th>
                </thead>
                <tbody>
                    <% for(let productInfo of order_lines) { %>
                        <% if (productInfo) { %>
                            <tr>
                                <td style="padding: 10px 0;">
                                    <img src="<%= productInfo.image_url %>" alt="<%= productInfo.name[0] %> Image" width="<%= productInfo.width %>" height="<%= productInfo.height %>" />
                                </td>
                                <td style="padding: 10px 0;">
                                    <% for(let info of productInfo.name) { %>
                                        <h4 style="margin-bottom: 15px;"><%= info %></h4>
                                    <% } %>
                                </td>
                                <td style="padding: 10px 0;">
                                    <%= productInfo.quantity %>
                                </td>
                                <td style="padding: 10px 0;">
                                    <%= productInfo.unit_price / 100 %> kr
                                </td>
                            </tr>
                        <% } %>
                    <% } %>
                </tbody>
            </table>
        </div>
        <div class="summary">
            <h4>Totalt: <%= order_amount / 100 %> kr</h4>
        </div>
        <div class="tax">
            <h4>Moms: <%= (order_amount / 100) * 0.25 %> kr</h4>
        </div>
        <div class="payment-method">
            <h4>Betalningsmetod: Klarna</h4>
        </div>
        <div class="shipping-info">
            <h4>Leveransinformation :</h4>
            <ul class="info-list border p-3 border-2 border-dark">
                <li class="mb-2"><span class="fw-bold">Stad</span>: <%= shipping_address.city %></li>
                <li class="mb-2"><span class="fw-bold">E-postadress</span>: <%= shipping_address.email %></li>
                <li class="mb-2"><span class="fw-bold">Förnamn</span>: <%= shipping_address.given_name %></li>
                <li class="mb-2"><span class="fw-bold">Efternamn</span>: <%= shipping_address.family_name %></li>
                <li class="mb-2"><span class="fw-bold">Telefonnummer</span>: <%= shipping_address.phone %></li>
                <li class="mb-2"><span class="fw-bold">Postnummer</span>: <%= shipping_address.postal_code %></li>
                <li><span class="fw-bold">Gatuadress</span>: <%= shipping_address.street_address %></li>
            </ul>
        </div>
        <hr />
        <div class="additional-information" style="text-align: center;">
            <h4>Ytterligare information</h4>
            <p>Din beställning kommer att hanteras inom 3-5 arbetsdagar.</p>
            <p>Om du vill avbryta eller ändra din beställning, vänligen kontakta oss omedelbart på</p>
            <a href="mailto:info@tavlorify.se" style="font-weight: bold;">info@tavlorify.se</a>
            <h4>Frågor</h4>
            <p>Vi finns här för att hjälpa dig. Du kan kontakta oss via e-post: <a href="mailto:info@tavlorify.se" style="font-weight: bold;">info@tavlorify.se</a></p>
        </div>
        <hr />
        <p style="text-align: center;">Tack för att du handlade hos oss på Tavlorify. Vi ser fram emot att hjälpa dig att förvandla fler idéer till unika konstverk!</p>
        <h4 style="text-align: center;">Hälsningar, Tavlorify-teamet</h4>
    </section>
</div>